.contact .banner .row div:last-child button {
    display: none;
}

.contact .banner .row button{
    margin-left: 70%;
    transform: translate(-50%,-50%);
    width: 125px;
}   
.contact .places{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25px;
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: rgba(128, 128, 128, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: left;
}
.contact .contactless{
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
    
}
.contact .contactless img{
    width: 120px;
    background-color: blue;
    padding: 20px;
    border-radius: 60px;
    margin: auto 20px;
}